:root {
  --dark-blue: #100F26;
  --light: #F2F0D8;
  --yellow: #F2CA80;
  --red: #8C3420;
  --dark: #03040D;

}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

.header {
  background-image: linear-gradient(5deg, #1C0F16 10%, #5e1a1e 50%, #A14A37 70%, #FFFFE5 90%, #201827 100%);
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  color: white;
  width:100%;
}

.content {
  text-align: center;
  
}

#searchButton {
  width: 100px;
  
}
p {
  font-size: 3rem;
  font-weight:500;
  margin: 100px;
  color: white;
  line-height: 50px;
  text-decoration-style: solid;
  text-decoration: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;

  -webkit-text-stroke-color: black;
}

#searchBar {
  width: 15rem;
  margin-bottom: 2rem;
  border: solid black;
  text-align: center;
  border-radius: 25px;
}

.mainSection {
  padding: 20px;
}

.input2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.button2 {
  margin-top: 20px;
  margin: 0 auto;
  display: block;
  width: 100%;
}

#backgroundImage {
  background-image: url("./Images/rocketnight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50% ;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.sidenav {
  position: fixed;
  display:inline-block;
  visibility: hidden;
  background-image: linear-gradient(15deg,var(--red) 0%, var(--dark) 100%);
  margin-right: 10px;
  text-align: center;
  margin-top:72px;
  margin-right:0;
  height: 100%; 
  width: 250px; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  overflow-x: hidden;
}
.savedData {
  background-color: var(--dark);
  display:block;
  border: 2px solid black;
  margin-left:15px;
  margin-top:50px;
  width:220px;
  height:70%;
  text-align: center;
  border-radius: 10px;
}
.saved {
  display:block;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #f77d3b;
  margin-left:60px;
  width:90px;
  height:25px;
  color:var(--yellow);
  border:none;
  border-radius:5px;
}
.secondSearch {
  margin-left:50px;
  display:block;
  background-color:var(--red);
  color: white;
  margin-left:45px;
  width:120px;
  height:25px;
  border:none;
  
  border-radius:5px;
  font-size:15px;
}
.buttonHolder{
  background-color: #113059;
  color: white;
  border:none;
}
#searchBar2{
  width: 175px;
  height: 50px;
  margin-top:30px;
  margin-bottom: 20px;;
  background-color:var(--red);
  border: none;
  color: white;
  border-radius: 40px;
}
.cardTitle{
  margin-top:30px;
  border-bottom: 2px solid var(--red);
  border-top: 2px solid var(--red);
  font-size: 25px;
}
#pageContain{
  display: none;
  float: right;
  width: 90%;
  padding: 10px;
}
#rowrowyouboat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.blue-column {
  padding: 0;
  background-image: url("./Images/armageddon-2104385_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 80%;
  margin-left: 10rem;
  border-radius: 40px;
  opacity: .90;
}
.blue-column p {
  font-size: 3rem;
  margin: 0;
  color: white;
}

.blue-column h1 {
  font-size: 4rem;
  color: white;
  padding: 10%;
  
}

.green-column{
  padding: 8%;
  background-color: transparent;
  opacity: .90;

}

.yellow-column{
  background-color: transparent;

}
#POTD{
    display: block;
    width: 90vw;
    height: 55vh;
    max-height:100%; max-width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 40px;
  }
#iframe{
  display: block;
  width: 90vw;
  height: 55vh;
  max-height:100%; max-width:100%; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 40px;
  }
#desciptionPOTD{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  width: 100%;
  background-color: var(--dark);
  color: var(--yellow);
}

#headerPOTD, #author,#title{
  background-color: var(--light);
  justify-content: center;
  color: var(--dark-blue);
  border-right: 10px solid var(--red);
  border-left: 10px solid var(--red);

}

#strightline {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid var(--yellow);
  margin: 1em 0;
  padding: 0;
}

@media (max-width: 650px) {  
  /*Header*/
  .header {
    background-image: linear-gradient(5deg, #1C0F16 10%, #A14A37 70%, #FFFFE5 90%);
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: medium;
    color: rgb(255, 255, 255);
    width: 110%;
  }
  /*"Enter Date"*/
  p {
    font-size: smaller;
    margin: 20px;
    padding-left: 20px;
    padding-top: 150px;
    padding-bottom: 150px;
    width: 100%;
    color: whitesmoke;
     text-decoration-style: solid;
    text-decoration: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: white;
  }
  /*"Rocket"*/
  #backgroundImage {
    background-image: url("./Images/mobilerocket.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-size: 100% auto;

    background-size: cover;
    background-attachment:fixed 
  }
    /*"sidebar"*/
  .sidenav {
    height: 500px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    }
    /*"Page Container"*/
    #rowrowyouboat{
      display: flex;
      flex-direction: column; 
    }
    .column{
      display: flex;
      flex-direction: column;
    }
    .blue-column {
      background-image: url("./Images/armageddon-2104385_1280.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 50vh;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .blue-column p {
      font-size: smaller;
      color: white;
      padding: 0;
    }
    
    .blue-column h1 {
      font-size:medium;
      color: white;
      padding: 10px;
    }
    
    .green-column{
      width: 100%;
      background-color: transparent;
    
    }

    .yellow-column{
      background-color: transparent;
    
    }
    #POTD{
      min-height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    #iframe{
      min-height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    #desciptionPOTD{
      font-size: medium;
      font-family: Arial, Helvetica, sans-serif;
      word-wrap: break-word;
      width: 100%;
      padding: 5px;
      background-color: var(--dark);
      color: var(--yellow);
    }
    
    #headerPOTD, #author,#title{
      background-color: var(--light);
      justify-content: center;
      color: var(--dark-blue);
      border-right: 10px solid var(--red);
      border-left: 10px solid var(--red);
    
    }
}